html {
    /* make the scrollbar always visible and only active when needed */
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

body {
    /* background-color: #F4F4F4; */
    background-color: #f9fafa;
    /* background-color: #f8f8f8; */
    /* rem to make the container go all the way to the bottom of the topbar */
    padding-top: 5rem;
}

table.dataTable{
    width:100% !important;
}

/* prevent background scrollbar (for modal) */
.modal {
    overflow-y: auto;
}

.modal-title {
    line-height: 1;
}

.modal-header {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #ececec;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, #f5f5f5 0, #ececec 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #ececec));
    background-image: -webkit-linear-gradient(top, #f5f5f5 0, #ececec 100%);
    background-image: -ms-linear-gradient(top, #f5f5f5 0, #ececec 100%);
    background-image: -o-linear-gradient(top, #f5f5f5 0, #ececec 100%);
    background-image: linear-gradient(top, #f5f5f5 0, #ececec 100%);
    border-bottom: 1px solid #ddd;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    -moz-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
}

.modal-footer {
    padding: 12px 20px 12px;
}

/* make bootstrap modal animation faster */
.fade {
    -webkit-transition: opacity 0.05s linear;
    -moz-transition: opacity 0.05s linear;
    -ms-transition: opacity 0.05s linear;
    -o-transition: opacity 0.05s linear;
    transition: opacity 0.05s linear;
}

/* Flat design */
.btn {
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}

/* SweetAlert2 Toast animation settings */
.swal2-popup.swal2-toast.swal2-show {
    -webkit-animation: swal2-show .5s !important;
    animation: swal2-show .5s !important;
}
