<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Meshh">
        <base href="{{ base_path() }}/"/>
        <link rel="shortcut icon" href="icons/favicon.ico">
        <title>Meshh Events</title>
        {% webpack_entry_css 'layout/layout' %}
        {% block css %}{% endblock %}
        {% webpack_entry_js 'layout/layout' %}
    </head>
    <body>
        <!-- Navbar -->
        {% block content %}{% endblock %}
        {% block js %}{% endblock %}
    </body>
</html>
